<nav class="site-nav" {height:25px;   
  line-height:25px;   
  overflow:hidden; }>

  <ul >

    <li>
      <a href="/yjs/"> <!-- Place the link inside the double quotes -->
        Home <!-- The text of the link -->
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/yjs/News"> <!-- Place the link inside the double quotes -->
        News<!-- The text of the link -->
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/yjs/Research">
        Research
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/yjs/People">
        People
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

     <li>
      <a href="/yjs/Publication">
        Publication
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/yjs/Courses">
        Courses
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/yjs/contact">
        Contact
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>


  <li>
      <a href="/yjs/Acknowlegement">
        Acknowlegement
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    

  </ul>

</nav>
